#hide {
  display: none;
}

#fadeJS, #fadeOp, #fadeVar, #fadeVarN, #fadeFu, #fadeMe, #fadePa, #fadeRe, #fadeCm, #fadeSt, #fadeBo, #fadeUn, #fadeNaN, #fadeEs, #fadeAl, #fadeCo, #fadeJQ, #fadeAtt, #fadeArg {
  display: none;
}

#clickable, #clickable1, #clickable2, #clickable3, #clickable4, #clickable5, #clickable6, #clickable7, #clickable8, #clickable9, #clickable10, #clickable11, #clickable12, #clickable13, #clickable14, #clickable15, #clickable16, #clickable17, #clickable18, #clickable19{
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.green-background {
  background-color: green;
  color: purple;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.white-background {
  background-color: white;
}
